@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}
.container {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;

}
.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow:  0 2px 5px rgba(0,0, 0, 0.1);
    width: 200px;
}
.indisponivel {
    color: royalblue;
    font-weight: bold;
}